<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>课程信息-介绍</title>
    <link rel="stylesheet" href="css/component/header.css"/>
    <link rel="stylesheet" href="css/component/layout.css"/>
    <link rel="stylesheet" href="css/page/information-1.css"/>
    <link rel="stylesheet" href="css/component/footer.css"/>
</head>
<body>
<div id="wrap"><!--wrap-->

    <!--头部-->
    <div id="header">
        <div class="header-content">
            <div class="header-top">
                <div class="logo"></div>
                <!--搜索-->
                <div class="search">
                    <form action="#">
                        <input class="input-text" type="text"><input class="input-btn" value="搜索" type="submit">
                    </form>
                </div>
                <!--搜索-->
            </div>

            <div id="menu">
                <ul class="nav">

                    <li>
                        <a href="base.html">首页</a>
                    </li>

                    <li>
                        <a href="information.html">课程信息</a>
                        <ul class="child-nav">
                            <li><a href="information.html">课程介绍</a></li>
                            <li><a href="new.html">课程大纲</a></li>
                            <li><a href="information-3.html">参考文献</a></li>
                        </ul>
                    </li>

                    <li>
                        <a href="team-1.html">教学团队</a>
                        <ul class="child-nav">
                            <li><a href="team-1.html">课程负责人</a></li>
                            <li><a href="team-2.html">教学团队</a></li>
                        </ul>
                    </li>

                    <li>
                        <a href="connectUs.html">教学资源</a>
                        <ul class="child-nav">
                            <li><a href="connectUs.html">教学录像</a></li>
                            <li><a href="source-2.html">授课教案</a></li>
                            <li><a href="source-3.html">课外作业</a></li>
                        </ul>
                    </li>

                    <li>
                        <a href="extend-1.html">扩展资源</a>
                        <ul class="child-nav">
                            <li><a href="extend-1.html">案例库</a></li>
                            <li><a href="extend-2.html">专题讲座</a></li>
                            <li><a href="extend-3.html">资源教材</a></li>
                            <li><a href="extend-4.html">在线测试</a></li>
                        </ul>
                    </li>

                    <li>
                        <a href="testinline.html">资讯中心</a>
                        <ul class="child-nav">
                            <li><a href="testinline.html">课程公告</a></li>
                            <li><a href="comment.html">教学活动</a></li>
                        </ul>
                    </li>

                    <li>
                        <a href="achievement-1.html">教研成果</a>
                        <ul class="child-nav">
                            <li><a href="achievement-1.html">科研成果</a></li>
                            <li><a href="achievement-2.html">教研教改</a></li>
                            <li><a href="achievement-3.html">课程评价</a></li>
                        </ul>
                    </li>

                </ul>
            </div>
        </div>
    </div>
    <!--头部-end-->


    <!--主体-->
    <div id="container">

        <div class="content-top"></div>

        <div class="content-side">
            <h4>课程信息</h4>
            <ul>
                <span class="active"></span>
                <li><a href="javascript:;">课程介绍</a></li>
                <li><a href="javascript:;">课程大纲</a></li>
                <li><a href="javascript:;">参考文献</a></li>
            </ul>
        </div>

        <div class="content-main">
            <div class="location"><span>首页-课程信息-课程介绍</span></div>
            <div class="title"><h5>课程介绍</h5></div>
            <div class="content"></div>
        </div>

    </div>
    <!--主体-end-->

</div><!--wrap-end-->

<!--尾部-->

<div id="footer">Made by C++ team</div>

<!--尾部-end-->
</body>
</html>